.grid-container {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-gap: 15px;
    padding: 20px;
}

.grid-item {
    background-color: azure;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

header {
    background: linear-gradient(90deg, black, white);
    color: skyblue;
}

footer, header {
    grid-column: span 2;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 95%);
    }
    .grid-item {
        grid-column: 1;
    }
    
    #sidebar {
        font-size: 14px;
    }
}